@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .mob-soc-list {
        display: flex;
        justify-content: center;
        gap: 56px;
    }
}


/* TABLET */


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* mob-menu */

    .menu-open-btn {
        display: none;
    }

    .mob-menu-contact-list {
        display: flex;
        flex-direction: column;
    }

    /* header */

    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--headers-color);
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color #404bbf;
        position: relative;
        gap: 12px;
        padding: 24px 0;
    }

    .header-link-contact {
        font-size: 12px;
        font-family: Roboto;
        line-height: 1.16;
        letter-spacing: 0.48px;
    }

    .header-link:hover,
    .header-link:focus,
    .header-link.current-page {
        color: var(--hover-color);
    }

    .header-address {
        font-style: normal;
        display: flex;
    }

    .header-address-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
    }

    .hero {
        background-color: var(--headers-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-1x.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        padding: 112px 0;
        margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
    }

    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        gap: 72px 24px;
    }

    .advantage-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .advantage-name {
        text-align: left;
    }


    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        max-width: 168px;
    }


    /* footer */

    .container {
        min-width: 552px;
    }

    .footer-cont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    .footer-container {
        display: flex;
        margin-left: 0;
        margin-right: 24px;
        align-items: flex-start;
    }

    .footer-container-general {
        max-width: 552px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-footer-social {
        display: block;
    }

    .modal-footer-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        padding-left: 15px;
    }

    .modal-footer-form {
        justify-content: flex-start;
        gap: 24px;
    }


    .footer-label {
        width: 264px;
    }


    /* modal */

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms linear;
        width: 408px;
        min-height: 584px;
        background-color: rgba(252, 252, 252, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}



/* DESKTOP */


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .menu-open-btn {
        display: none;
    }

    .header-address-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0;
    }

    .header-link-contact {
        margin-right: 40px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    .header-link {
        color: var(--navyblue, #2E2F42);
        font-family: 'Roboto';
        letter-spacing: 0.32px;
    }

    .hero {
        background-color: var(--headers-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-1x.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        padding: 188px 0;
        margin: 0 auto;
    }

    .hero-title {
        line-height: 1.07;
        letter-spacing: 0.72px;
        text-transform: none;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
        }
    }

    .team>.container {
        max-width: 1158px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
    }

    .advantages-list {
        display: flex;
        gap: 0;
        gap: 24px;
    }

    .advantage-item {
        min-height: 104px;
        width: 264px;
        gap: 24px;
    }


    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantage-icon-box {
        width: 264px;
        height: 112px;
        background-color: #F4F4FD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .advantages {
        margin-top: 0;
    }

    .advantage-name {
        font-weight: 500;
        font-size: 20px;
        color: #2E2F42;
        line-height: 1/2;
        letter-spacing: 0.4px;
        text-transform: none;

    }

    .advantage-text {
        font-weight: 400;
    }

    .advantage-icon {
        display: flex;
        align-items: center;
    }


    /* media */

    .media {
        display: contents;
        padding-bottom: 120px;
    }

    .media>.container {
        padding-bottom: 120px;
    }



    .customers-container {
        width: 100%;
    }

    .customers-item {
        max-width: 168px;
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    /* footer */

    .footer {
        max-width: 1440px;
        background-color: var(--headers-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0 auto;
    }

    .footer-container {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-container-general {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;

    }

    .container-footer-social {
        margin-bottom: 0;
    }

    .modal-footer-form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        color: #FFFFFF;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #FFFFFF;
    }

    .modal-footer-cont {
        display: block;
        width: 453px;
        padding-left: 0;
        margin-left: 80px;
    }
}