body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white-color);
}

:root {
    --hover-color: #404BBF;
    --text-color: #434455;
    --headers-color: #2E2F42;
    --white-color: #FFFFFF;
    --footer-color: #F4F4FD;
    --button-color: #4D5AE5;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}



/* Logo */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    /* display: block; */
    max-width: 360px;
    height: auto;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/* Header */


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
    margin-right: 76px;

}

.header-span {
    color: var(--headers-color);
}

.header-list {
    display: none;
}

.menu-open-btn {
    background-color: #FFFFFF;
    stroke: #2E2F42;
    border: none;
}

.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    bottom: -1px;
}

.header-address {
    display: none;
}

.header-link-contact {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-contact:hover,
.header-link-contact:focus {
    color: var(--hover-color);
}


/* mob-menu */

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    cursor: pointer;
}


.mob-menu-close-btn {
    display: block;
    margin-left: auto;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(231, 233, 252, 1);
    background-color: #FFFFFF;
    padding-left: 7px;
}

.mob-close-btn-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgba(46, 47, 66, 1);
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navyblue, #2E2F42);
}

.mob-menu-contact-list {
    font-style: normal;
    margin-bottom: 48px;
}

.mob-menu-phone {
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--iris, #4D5AE5);
    margin-bottom: 40px;
    display: flex;
}


.mob-menu-mail {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--slate, #434455);
    padding-top: 40px;
}


.mob-soc-list {
    display: flex;
    justify-content: center;
    gap: 56px;

}

.mob-menu-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
}

.current-page {
    color: var(--iris, #4D5AE5);
}



/* Hero */

.hero {
    background-color: var(--headers-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-1x.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 112px 0;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-title {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: var(--white-color);
    max-width: 496px;
    margin: 0 auto;
}

.hero-button-link {
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--button-color);
    margin-top: 48px;
    border: none;
    border-radius: 4px;
    transition-property: background-color var(--hover-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-button-link:hover,
.hero-button-link:focus {
    background-color: var(--hover-color);
}


/* Main */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-name {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Roboto';
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--headers-color);
    margin-bottom: 8px;
    text-align: center;
}


.advantage-text {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--text-color);
    align-self: stretch;
    letter-spacing: 0.32px;
}

.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-list {
    gap: 24px;
}

.advantage-item {
    width: 100%;
    margin-bottom: 72px;
}

.advantage-icon {
    display: none;
}


/* Media */


.media {
    display: none;
}

.media-list {
    display: flex;
    gap: 24px;
}

.media-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headers-color);
    margin-bottom: 72px;
}

.media-list-item {
    width: calc((100%-48px)/3);
}


/* Team Members */

.team {
    background-color: var(--footer-color);
    padding-top: 96px;
    padding-bottom: 96px;
}


.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headers-color);
    margin-bottom: 72px;
}

.team-list {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    display: flex;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    flex-direction: column;
}

.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headers-color);
    background-color: var(--white-color);
    margin-bottom: 8px;
}

.team-member-designation {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    background-color: var(--white-color);
    margin-bottom: 8px;
}

.team-member-info {
    padding: 32px 16px;
}

.team-member-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-member-soc-item {
    width: 40px;
    height: 40px;
}

.team-member-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-soc-icon {
    fill: #F4F4FD;
    transition-property: background-color #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-soc-link:hover,
.team-member-soc-link:focus {
    background-color: #404BBF;
}


/* Customers */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}


.customers-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headers-color);
    margin-bottom: 72px;
}

.customer-link {
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    fill: #8E8F99;
    transition-property: background-color #404BBF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    column-gap: 16px;
}

.customers-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 88px;
    transition-property: background-color #404BBF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-icon {
    fill: currentColor;
}

.customers-item:hover,
.customers-item:focus,
.customer-link:hover,
.customer-link:focus {
    color: #404BBF;
    border-color: #404BBF;
}


/* FOOTER */


.footer {
    width: 100%;
    background-color: var(--headers-color);
    max-width: 1440px;
    padding: 96px 0 100px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.footer-container-general {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.modal-footer-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container-footer-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.modal-footer-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #FFFFFF;
    gap: 20px;
}

.footer-label {
    width: 100%;
    width: 398px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    opacity: 0.30000001192092896;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input {
    width: 100%;
    max-width: 398px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.footer-logo-link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
    margin-bottom: 16px;
}

.footer-span {
    color: var(--footer-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color);
    max-width: 264px;
}

.footer-social-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-item {
    display: flex;
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}



.modal-footer-text {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-input::placeholder {
    color: #FFFFFF;
}

.footer-input:focus {
    border: 1px solid #FFFFFF;
    outline: none;
}

.modal-footer-submit {
    display: flex;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-letter-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}


/* Filter */

.filter {
    padding: 96px 0 120px;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn-link {
    height: 48px;
    min-width: 69px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--footer-color);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    transition-property: color var(--white-color) background-color var(--hover-color) border 1px solid transparent box-shadow 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn-link:hover,
.filter-btn-link:focus {
    color: var(--white-color);
    background-color: var(--hover-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Portfolio cards*/


.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

.card-item {
    display: flex;
    margin: 0;
    padding: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.photo-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.photo-link:hover,
.photo-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.card-item:hover,
.card-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-info {
    max-width: 360px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--headers-color);
    margin-bottom: 8px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.photo-link:hover .card-cover-text,
.photo-link:focus .card-cover-text {
    transform: translateY(0);

}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Modal */


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    width: 90%;
    max-width: 408px;
    min-height: 584px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 233, 252, 1);
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    margin-top: 18px;
    margin-bottom: 8px;
}

.modal-box {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    color: #2E2F42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-comment {
    margin-bottom: 16px;
}

.modal-input:focus,
.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon,
.modal-comment:focus {
    fill: #4D5AE5;
}


.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.input-label {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-label span {
    display: block;
    margin-bottom: 4px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-checkbox {
    margin-bottom: 24px;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
}

.privacy-policy {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text span {
    background-color: #404BBF;
    border: none;
    fill: var(--footer-color);
}

.modal-checkbox-link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}

.send {
    color: #FFFFFF;
    font-size: 16px;
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    border-style: none;
    margin: auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}